@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@400;700&display=swap');

:root {
  --brand-primary: #c2b4b4;
  --font-family-display: Monoton, Arial, sans-serif;
  --font-family-primary: 'Rubik', Arial, sans-serif;
  --neon-effect: 0 0 0 transparent,
   0 0 20px rgb(160, 32, 240),
   0 0 50px rgba(160, 32, 240, .5),
   0 0 200px rgba(160, 32, 240, .5),
   0 0 250px rgba(160, 32, 240, 1),
   0 0 300px rgba(160, 32, 240, 1),
   -250px -100px 100px rgba(160, 32, 240, 1);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family-primary);
  line-height: 1.42;
}

.mainWrapper {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
}

.heroBlock {
  padding: 60px 30px;
  margin-top: 70px;
  text-align: center;
  border-radius: 20px;
  max-width: 1200px;
}

.hero {
  background-color: #000;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.heroTitle {
  font-family: var(--font-family-display);
  color: #FF8888;
  font-size: 45px;
  text-shadow: var(--neon-effect);
  margin: 0;
  line-height: 1.1;
  text-transform: uppercase;
  transform: skew(0, -12deg) rotateZ(5deg);
  white-space: nowrap;
  animation: neonBlink 5s infinite alternate;
}

.heroTitle span {
  display: block;
  margin: 0;
}

.heroTitle span:not(:last-child) {
  margin-bottom: 0px;
}

.description {
  background-color: #444;
  color: #ddd;
  font-family: var(--font-family-primary);
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  max-width: 600px;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .heroTitle {
    font-size: 86px;
    margin-bottom: 100px;
  }
}

@keyframes neonBlink {
  44% { opacity: 1; }
  45% { opacity: .7; }
  46% { opacity: 1; }
  98% { opacity: 1; }
  99% { opacity: .5; }
  100% { opacity: 1; }
}

.wrapper {
  display: flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover {
  background: #a59999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook .icon {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter .icon {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram .icon {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github .icon {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube .icon {
  background: #CD201F;
  color: #ffffff;
}

.textBoxContainer {
  display: flex;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.4);
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
}

.textBox {
  flex: 1;
  color: #fff;
}

.buttonContainer {
  margin-left: 20px;
}

.buttonPrimary {
  background-color: var(--brand-primary);
  border-color: transparent;
  color: #000;
  font-family: var(--font-family-primary);
  font-weight: bold;
  padding: 10px 20px;
  transition: transform .2s;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
}

.buttonPrimary:hover {
  background-color: #a59999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
