/* src/Sidebar.css */
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #181818; /* Dark grey color */
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  color: white; /* Text color for contrast */
}

.sidebar h2 {
  margin-top: 0;
  color: white; /* Heading color */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white; /* Default link color */
  font-weight: bold;
}

.sidebar ul li a:hover {
  color: #a9a9aa; /* Dim blue color for hover effect */
}

.sidebar-icon {
  font-size: 24px; /* Default icon size */
  margin-right: 10px; /* Space between icon and text */
}

.mushroom-icon {
  font-size: 32px; /* Larger size for mushroom house icon */
}
